.dashboad-navbar{background-color: #fff !important;}
.border-start{
  border-left:1px solid #dee2e6!important;
} 
.border-0{
  border: 0px;
}
.border-3{
  border-left:3px solid #dee2e6!important;
}
.border-info{
  border-color: #0dcaf0!important;
}
.border-success{
  border-color: #15ca20!important;
}
.border-danger{
  border-color: #fd3550!important;
}
.border-warning{
border-color: #ffc107!important;
}
.chart-container-1{
  height: 260px;
  color: #5f8de4;
}
.widgets-icons{
  width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    font-size: 26px;
    border-radius: 10px;
}
.form-control,textarea{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4c5258;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control.error{
  border-color: #fd3550;
}