.view-mobile{display:none}
.rel-pos{position:relative;width:100%}
.card-header-right a{position:absolute;right:10px;top:10px;font-size:12px;text-decoration:underline;color:rgba(24, 213, 113)}
.card-header-right a img{margin:0 5px 0 0}
.navbar-light .navbar-toggler{border-color:#fff;background:#fff}
.card-header .text-color{color:#000;font-weight:bold;}
.no-border{border:none;}
#grad {
  background-image: linear-gradient(#fff, #eef8f9);
}
.md-stepper-horizontal {
	display:table;
	width:100%;
	margin:0 auto;
	background-color:#FFFFFF;
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	vertical-align:middle;padding:20px 20px 0 20px
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;position:relative;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
	background-color:#00AE4D;
}

.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color:#ddd;
}
.md-stepper-horizontal .md-step-circle:before {
	/*font-weight:100;*/
	content: "";
	background: url('../img/grey-check.png') no-repeat;width:30px;height:30px;position:absolute;margin:0 -14px;background-size:cover;
}

.md-stepper-horizontal .green-bg .md-step-circle:before {
	/*font-weight:100;*/
	content: "";
	background: url('../img/green-check.png') no-repeat;width:30px;height:30px;position:absolute;margin:0 -14px;background-size:cover
}

.md-stepper-horizontal .green-bg{color:rgba(24, 213, 113) !important}
.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:12px;
	font-weight:600;
}

.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:50%;
	margin-left:20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:50%;
	margin-right:20px;
}
.green-text{color:rgba(24, 213, 113) !important}
.bulding-bg{position:absolute;top:70vh;z-index:-1;background:url("../img/bg_building.png") no-repeat top center;width:100%;height:200px;background-size:cover}

.none-stylelist{list-style:none !important;margin:0}
.pad-login-content{padding-left:0;float:right;width:100%}
.reg-form{margin:2% 0 0}
.reg-form .center{width:378px;text-align:left}
.reg-form .card{border-radius:10px;;box-shadow: 0 1px 1px rgba(255,255,255,0.12), 0 2px 2px rgba(128,128,128,0.12), 0 4px 4px rgba(128,128,128,,0.12), 0 8px 8px rgba(128,128,128,,0.12)}
.reg-form .card-header{background:none;border-bottom:none}
.step-count li{position:relative;display:inline-block;font-size:13px;font-weight:500;margin:25px 95px 20px 20px;width:25px;height:25px;border-radius:100%;text-align:center;line-height:24px;background:#f5f6f8;color:#006eff}
.step-count li.active{background:#c4dcfe !important}
.step-count li.active.blue-bg{background:#006eff !important;color:#fff;font-weight:400}
.step-count li:after{content:'';position:absolute;border-bottom:1px solid #d2dae7;width:108px;top:50%;left:30px}
.step-count li:last-child:after{border-bottom:none}
.step-count li:last-child{margin-right:0}
.reg-form .card-header{font-weight:700;font-size:18px;padding:0 20px;margin:0 0 15px}
.reg-form .card-body{padding-top:0}
.reg-form .card-body label{display:none} 
.reg-form .form-group{width:100%;margin:0 0 20px;}
.reg-form .form-group .form-control{background:#f5f6f8;font-weight:400;font-size:13px;border:1px solid #e9e9eb;padding:18px 15px;}
.reg-btn{float:left;border-radius:2px;font-size:13px}
.reg-form .border{border-color:#2e67ae !important;border-style:solid;height:2px;clear:both;float:none;width:50px;margin:20px 0 ;float:left}
@media only screen and (max-width:639px){
	button:focus{outline:none !important}
	body .navbar-collapse .navbar-nav li.sep{display:none !important}
	body .navbar-nav{float:left !important;display:block;width:100%}
	body .card{margin:15px 0 0 !important;}
	body .card svg{width:100%;margin:0}
	body #content-wrapper{top:80px}
	body .reg-form{top:10% !important;}
	body .btn{font-size:0.813rem}
	.reg-form .center{width:100%;position: absolute;top:50%;margin:-250px 0;}
	.step-count li{margin:25px 90px 20px 20px}
	.reg-form .note{margin:0 0 0 !important}
}
@media only screen and (min-width:280px) and (max-width:767px){
	.form-control{font-size:0.75rem;margin:0 0 10px}
	.btn{font-size:0.813rem;margin:0 5px 15px 0}
	.navbar-nav .btn{margin-bottom:0;}
	.card-body .btn{margin:0;width:100%}
	.table td:first-child,.table th:first-child{width:10%}
	.table td,.table th{font-size:0.75rem;padding:10px;text-align:center;vertical-align:middle;}
	.datepicker{padding:0 10px}
	.card-body select{padding:0 8px}
	.card-body{padding:10px}
	.card-header{padding:10px}
	#content-wrapper .container{width:100% !important}
	.table th.no-view-mobile,.table td.no-view-mobile{display:none !important}
	.view-mobile{display:block;}
	#content-wrapper .container #signupForm{width:90%;margin:10px auto}
	#content-wrapper .container #signupForm .form-control{height:40px;border-radius:10px;margin:5px 0 0} 
	.btn.add_branch_btn{margin:10px 0 0 !important}
	#map{height:240px !important;margin:0 0 10px}
	.md-stepper-horizontal .md-step{padding:23px 5px 0 0}
	.md-stepper-horizontal .md-step .md-step-title{font-size:11px}
	.md-stepper-horizontal .md-step-circle:before,.md-stepper-horizontal .green-bg .md-step-circle:before{height:24px;width:24px}
	.md-stepper-horizontal .md-step .md-step-bar-right{margin-left:10px}
}
.rotate-mode{display:none}
@media (max-width:992px) and (min-width:479px) and (orientation:landscape){
    .rotate-mode{display: flex; pointer-events: auto;}
}