/* 
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus{box-shadow:none !important}
.btn:focus,.btn:active{outline: none !important;box-shadow: none !important;opacity:1}
.dropdown-toggle:focus{background:#fff !important}
select:focus,input:focus,select:active,input:active,textarea:focus{outline:none !important;box-shadow:none !important}
body a.btn:focus,body a.btn:active,body a.btn:select{background-color:transparent !important}
/* input,select{text-transform:capitalize !important;} */

select{color:#c6c6c6 !important}
select:active,select:focus, select:hover{
  outline: none;color:#666 !important
} 
textarea{font-size:12px !important}
select option:checked{
  color:#666 !important
}
input::placeholder,textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c6c6c6 !important;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#c6c6c6 !important;
}

input::-ms-input-placeholder,textarea::-ms-input-placeholder { /* Microsoft Edge */
  color:#c6c6c6 !important;
}

.search-input input{color:#666}
.search-input input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666 !important;
  opacity: 1; /* Firefox */
}
.search-input input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#c6c6c6 !important;
}
.list-right{float:right}

.search-input input::-ms-input-placeholder { /* Microsoft Edge */
  color:#c6c6c6 !important;
}
.inline select,.inline-list select{color:#666 !important}
.blue-text{color:#007bff}

ul,.step-count{list-style:none !important}
.pull-right{float:right}
.mg-bottom5{margin:0 0 5px}
.mg-bottom20{margin-bottom:20px}
.inline{display:inline-block;}
.font-500{font-weight:500 !important}
.font-600{font-weight:600 !important}
.font-700{font-weight:700 !important}
.center{text-align:center;}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-navsidebar::-webkit-scrollbar{display:none;}
/*hd-with-filter*/
.hd-with-filter{clear: both;float:none;display:block;width:100%}
.hd-with-filter h1,.filter-date,.pull-left{float:left}
.hd-with-filter .filter-input{margin:0 10px;position:relative;}
.hd-with-filter .filter-input .form-control{padding:0 0 0 35px;width:120px;height:30px;margin:5px 0 0}
.hd-with-filter .filter-input .date-icon{position:absolute;top:12px;left:10px;color:#A6A6AE}
.hd-with-filter .filter-btn .btn{width:70px;margin:0;height:30px;margin:5px 0 0}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-navsidebar{
  overflow:-moz-scrollbars-none;scrollbar-width: none;
}
.status-inactive,tr.status-inactive td:first-child{color:#acacac !important;}
.scroll-navsidebar{height:100%;overflow-y:scroll;overflow-x:auto;}
/*Dashboard css*/
.dashboad-navbar{background:#eff5f5;border-bottom:1px solid #d1d5d6;
  padding:8px 18px 8px 16px;margin-bottom:20px}
.side-navbar{background:#006eff;position:fixed;
  left:-135px;top:0;width:190px;height:100%;
  z-index:100;color:#fff;transition:0.5s;
  transition-property:left;}
.side-navbar li .nav-link{color:#fff;padding:10px 15px;display:block;text-decoration:none;font-size:15px;box-sizing:border-box;}
.side-navbar li span.dash-icon{background:transparent;color:#fff;display:inline-block;border-radius:5px;width:30px;height:30px;text-align:center;line-height:30px}
.side-navbar li .active span.dash-icon{background:#fff;color:#006eff;box-shadow: 0 1px 1px rgba(255,255,255,0.12), 0 2px 2px rgba(255,255,255,0.12), 0 4px 4px rgba(255,255,255,0.12), 0 8px 8px rgba(255,255,255,0.12)}
.side-navbar li span.tag-icon{background:url("../img/dashboard/tag_icon.png") no-repeat center center;background-size:15px 15px;width:30px;height:30px;vertical-align:middle;}
.side-navbar li .active span.tag-icon{background:url("../img/dashboard/tag_icon_blue.png") no-repeat center center #fff;background-size:15px 15px}

.side-navbar li img{width:20px;height:auto;vertical-align:middle}
.side-navbar li.sep,.sep{display:none}
.child-container{padding:0 0 0 60px;margin-bottom:20px}
.top-right-navbar{float:right}
.notification{position:relative;}
.notification .notdot{position:absolute;top:-6px;border:5px solid #006eff;border-radius:100%;left:13px}
.label-check{margin-top:1px;}
.label-check label{margin-bottom:0;color:#fff;padding:15px 23px}
.side-navbar li.label-check:hover{background:transparent;}
.side-navbar a span.navtext{display:none;margin:0 0 0 6px}
.side-navbar a{margin-left:130px}
.side-navbar li:hover{background:#539EFF;color:#000}
.side-navbar li.active{background:#539EFF;color:#000}

/*.label-check:hover{opacity:.5}*/
#check:checked ~ .side-navbar{left:0;}
#check:checked ~ .side-navbar a span.navtext{display:inline-block;}
#check:checked ~ .side-navbar a{margin-left:0;width:auto}
#check{display:none}
/*top right nav*/
.top-right-navbar{ms-flex-direction: row;flex-direction: row;}
.top-right-navbar li{margin:0 0 0 20px}
.top-right-navbar li a{display:block;}
.top-right-navbar li .icon-bg{border-radius:100%;width:35px;height:35px;line-height:30px;text-align:center;}
.top-right-navbar li:first-child .icon-bg img{width:16px;height:auto;}
.blue-bg{background:#006eff}
.white-bg{background:#fff}
.top-right-navbar .dropdown .btn-secondary{position:relative;background:#fff;color:#000;font-size:14px;border:none;border-radius:20px;padding:6px 15px}
.top-right-navbar .dropdown .btn-secondary img{margin:0 5px 0 0;width:26px;height:26px;vertical-align:middle;}
.top-right-navbar .dropdown-menu{position:absolute;bottom:0;width:100%;min-height:80px;max-height:100%;font-size:12px;min-width:9em}
.top-right-navbar .dropdown-menu .dropdown-item{padding:.25em 1em}
.dropdown-toggle::after{vertical-align:1px}
/*content box*/
.content-box{padding:20px 0;font-size:12px;font-weight:normal;
  margin-bottom:20px;width:100%;
  
  max-height:450px; min-height: 184px;}
.content-box p{margin:0}
.content-box a{text-decoration:none;color:#77b2ff}
.box-title{color:#a6a6ae;}
.value-color{color:#67708e}
.red-color{color:#ff0000}
.light-grey-color{color:#c6c6c6}
.blue-color{color:#006eff;}
.pad-both10{padding-left:10px;padding-right:10px}
.content-box.blue-bg{color:#fff}
.content-box ul{list-style:none;margin:0;padding:0}
.fade-font{opacity:.5}
.content-box h3{font-size:16px;line-height:20px;margin:0 0 18px;font-weight:normal;}
.content-box h2{font-size:20px;line-height:22px;margin:0 0 10px;font-weight:normal;}
.content-box h2.value-font{font-size:26px;line-height:30px;font-weight:600}
.content-box h3.box-title{margin:5px 0 30px;font-weight:600}
.graph-row-list .content-box h3.box-title{margin:0;}
.content-box .reg-list{margin:20px 0 0;clear:both;width:100%}
.box-icon-img{width:45px;height:45px;background:#d8edff;border-radius:100%;text-align:center;;line-height:42px}
.reg-list li{position:relative;margin:0 0 20px;padding:0 0 0 38px;line-height:28px;font-size:13px}
.reg-list li:last-child{margin:0}
.reg-list li:after{content:'';position:absolute;left:0;width:28px;height:28px;opacity:.5;border-radius:100%;background:#fff}
.reg-list li.active span{opacity:.5}
.reg-list li.active:after{content:'\2713';opacity:1;color:#006eff;text-align:center;font-size:14px;font-weight:bold;}
.highlight-font{margin:0 5px 0 0}
.tracing-box .img-content img{width:80%;margin:10px 0 0 10%}
.tracing-box .img-content h2{margin:10px 0 0;font-size:20px;font-weight:400;line-height:26px}

/*name*/
.name h1{font-size:24px;line-height:28px;margin:5px 0;font-weight:700;color:#4b5b68}
.active-number{line-height:20px;font-weight:600;color:#9b9b9b;margin:18px 0 0}
.active-number span{font-size:22px;color:#4b5b68}
.box-radius{border-radius:10px}
.content-box h2.no-margin{margin-bottom:0 !important}
.box-title2{padding:9px 15px;font-size:16px;color:#fff;margin:0 0 0 10px;box-shadow: 0 1px 1px rgba(191,234,255,0.12), 0 2px 2px rgba(191,234,255,0.12), 0 4px 4px rgba(191,234,255,0.12), 0 8px 8px rgba(191,234,255,0.12)}
.box-title2 h4{font-size:18px;margin:0;line-height:18px}
.box-title2 h4 .small-heading{font-weight:normal;font-size:12px;margin:0 0 0 2px;}

/*circle chart*/
.pie-chart{width:100%;clear:both;float:none}
.pie-chart-box{display:inline-block;margin:0 15px;}
.pie-chart-box .chart{position:relative;width:60px;height:60px;margin:0 auto;text-align:center;color:#67708e;font-size:16px;font-weight:600;
  padding:15px}
.pie-chart-box .chart span{color:#c6c6c6;font-size:14px;font-weight:normal;display:block; line-height: 2.3; text-align: center;}
.pie-chart-box .chart canvas{position:absolute;top:0;left:0}

.pie-chart-box h2{font-size:16px;font-weight:600;text-align:center;margin:15px 0 0;color:#67708e}
/*regEmployees-chart*/
.regEmployees-chart{position:relative;width:150px;height:150px;text-align:center;margin:12px 0;}
.regEmployees-chart canvas{position:absolute;top:0;left:0}
.regEmployees-chart h2{font-size:26px;font-weight:700;padding:42px 0;color:#0f6be6;line-height:28px}
.regEmployees-chart h2 span{font-size:12px;color:#c6c6c6;display:block;font-weight:normal;}
.color-tag li{position:relative;display:inline-block;margin:50px 15px 0 0;padding-left:16px}
.color-tag li:last-child{margin:50px 0 0;}
.color-tag li:before{content:'';position:absolute;left:0;border:4px solid #007bff;top:0;height:40px}
.color-tag li.darkgrey-tag:before{border-color:#000000}
.color-tag li.admin-darkgrey-tag:before{border:4px solid #ebebeb}
.color-tag li h3{font-size:18px;color:#67708e;font-weight:700}
.color-tag li span{display:block;color:#c6c6c6;font-size:12px;font-weight:500}
.office-selection{width:180px;height:36px;border-radius:10px;padding:0px 10px;border:1px solid #c4c4c4;color:#67708e;font-weight:600}
.date-ani{margin:5px 0 0 20px;font-size:14px;line-height:12px;color:#007bff;font-weight:600;width:70px}
.carousel-control-prev{left:-16px}
.carousel-control-next{right:-16px}
.date-ani .carousel-control-prev-icon{background:url("../img/dashboard/prev.png") no-repeat top center;width:12px;height:12px;}
.date-ani .carousel-control-next-icon{background:url("../img/dashboard/next.png") no-repeat top center;width:12px;height:12px}
/*pages css*/
/* .page-title{font-size:17px;font-weight:700;margin:11px 0;line-height:17px} */
/* .badge{width:100px;height:30px;line-height:22px;border-radius:0;font-size:12px;font-weight:300;margin-bottom:0}

.badge-success{background:#d8ffe8;color:#5ab373}
.badge-danger{background:#ffd9d8;color:#a74041} */

.table{border:0;font-size:13px;border-spacing:0}
.table-striped tbody tr,.table-striped tbody tr:nth-of-type(odd) {background-color:#fff;}

.table thead th{font-size:14px;font-weight:600}
.violation-table tr th{font-size:14px !important; font-weight:600 !important}
.card,.table thead th{border:none;}
.card-body{ 
  /* background:#eff5f5; */
  padding:0 1.25rem}
.table-striped tbody tr td:first-child{color:#006eff}
/* .padleft20{
  padding-left:20px;
} */
.table td, .table th{padding:10px;vertical-align:middle;}
.table p{margin-bottom:0}
/*.table-striped tbody tr td:last-child{width:35% !important}*/

/* select.form-control,input.form-control{font-size:12px;border:none;height:38px;border-radius:0} */

.inline-width2{width:46%;float:left;margin:0 15px 0 0}
.inline-width2.last{margin:0}
.inline-width-text{width:32%;float:left;margin:0 2% 0 0}
.inline-width-text.last{margin:0}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid #d6d6d6;
  border-radius: 1px;
  margin-right: 1rem;
  padding: 3rem;
  padding-right: 1rem;
}
.search-input{position:relative;float:left;}
.search-input input{padding-left:35px}
.search-input::after{content:'';position:absolute;left:10px;top:10px;background:url("../img/search.png") no-repeat top center;width:20px;height:20px;background-size:cover}
.inline-list{list-style:none;margin:0;padding:0}
.inline-list li{display:inline-block;font-size:12px;font-weight:400;text-align:left;margin:0 10px 0 0}
.inline-list li.date{margin:0 10px 0 0;position:relative;}
.inline-list li.date input{padding:0 0 0 50px;width:140px}
.inline-list li.date:nth-child(3) input{padding:0 0 0 35px}
.inline-list li.date:nth-child(2):after{content:"From :";position:absolute;top:8px;left:8px;color:#c6c6c6;font-size:13px;font-weight:400}
.inline-list li.date:nth-child(3):after{content:"To :";position:absolute;top:8px;left:8px;color:#c6c6c6;font-size:13px;font-weight:400}
.inline-list li:last-child{margin-left:0}
.full-width{width:100%}
.btn.no-radius{border-radius:0;margin:-10px 0 0;padding:0;width:140px;height:38px;vertical-align:top;color:#fff !important}
select{color:#007bff;font-weight:500;/*text-transform:uppercase;*/}
.link-btn{font-size:13px;background:none;color:#777;font-weight:500;border:none;border-radius:0;margin:0 15px 0 0;padding:5px 0 13px;border-bottom:2px solid transparent}
.link-btn.btn-active{border-bottom:2px solid #007bff !important;color:#000 !important;border-radius:0;}
.bottom-border{border-bottom:1px solid #b7b7b7;padding-bottom:0;width:calc(100% - 20px);float:right}
.link-btn.btn-active:hover,.link-btn:hover{background:transparent;color:#000 !important;border-color:transparent;}
.btn-primary:focus,.link-btn:focus{background:transparent !important}
li.no-mrg{margin:0 !important}
.download-icon{background:url("../img/download.png") no-repeat center center #d8e8ff;border:none;width:30px;height:30px;background-size:20px;float:left}
.list-right li{float:right}
.bold-font label{font-weight:600}
.help-text{font-size:13px;line-height:20px;color:#333;margin:0 0 30px}
.upload-link a{width:200px;height:40px;background:url("../img/upload.png") no-repeat 5px center #ececec;background-size:20px;padding:11px 20px 9px 30px;margin:0 10px 0 0;border:1px solid #6d717d;border-radius:2px;color:#000;font-weight:500;text-decoration:none}
.back-btn{background:#d8e9fd;border-style:solid;border-width:1px;text-align:center;width:80px;margin:0 0 5px}
.download-text-bg{padding:15px;background:#d8e9fd;position:relative;}
.download-text{margin:70px 0 30px;}
.lg-lable-font{margin-bottom:12px 15px;font-size:16px;font-weight:700;color:#4d5b66}
.input-file{width:140px;height:60px;background:#f5f5f5;border:1px solid #868a95;position:relative;}
.input-excel-file{position:absolute;top:0;left:0;background:transparent;width:140px;height:60px !important;opacity:0;z-index:10}
.input-file span{position:absolute;top:15px;left:30px;font-size:16px;font-weight:600;color:#4d5b66}
.input-file p{color:#abacae;position:absolute;left:180px;top:17px;width:100%}

/* .text-danger,.text-success{background:url("../img/not_in_use.png") no-repeat 7px center #ececec;padding:7px 45px;font-size:12px;font-weight:400;margin:0 10px 0 0;text-decoration:none;background-size:18px}
.text-success{background:url("../img/in_use.png") no-repeat 10px center #E8F8FF;color:#57DDEC !important;padding:7px 34px;background-size:20px}
 */
.icon{padding:0 0 0 25px;margin:0 10px 0 0}
.attendance-icon{background:url("../img/fingerprint.png") no-repeat top left;background-size:20px}
.violation-icon{background:url("../img/dashboard/violation_selected.png") no-repeat top left;background-size:18px;margin:0 14px 0 0}
.tag-icon{background:url("../img/dashboard/tag_icon_blue.png") no-repeat center left;background-size:14px;margin:0 0 0}
.tag-icon.icon{padding:0 0 0 20px}
.delete-icon{background:url("../img/delete.png") no-repeat center center #ffd9d8;padding:6px 12px;background-size:16px;border-radius:5px; cursor: pointer;}
.edit-icon{padding:6px 5.5px;border-radius:5px;margin:0 10px 0 0}
.edit-icon i{font-size:12px;margin:0 2px 0 0}
/* textarea.form-control{border:none;} */
.view-link{background:#61CDF6;padding:5px 8px 5px 8px;color:#fff !important;font-size:11px;border-radius:4px;display:inline-block;}
.view-link i{margin:0 2px;}
/*.tracing-box-link:after{position:absolute;content:'';border-bottom:1px solid #fff;top:10px;right:90px;width:100px;}*/
/*homefooter*/
.pp-modal .modal-header{padding:5px 10px 0;color:#c6c6c6;border-bottom:none;text-align:center;}
.pp-modal .modal-header .close{color:#0062cc;opacity:1}
.pp-modal .modal-header h5{font-size:15px;font-weight:400;line-height:24px;color:#000;text-align:center;}
.pp-modal .pp-icon{color:#57DDEC;display:block;font-size:40px;display:none}
.pp-modal .modal-body{padding:0 0;font-size:16px;font-weight:500}
.pp-modal .modal-body h5{margin:0 0 8px;color:#0062cc;font-weight:600;text-shadow: 1px 1px #fff}
.pp-modal .modal-footer{border-top:none}
.pp-modal .modal-footer{text-align:center;display:block;}
.pp-modal .btn{border-radius:1px;width:140px;height:38px;line-height:26px;margin:5px 8px;border:none;}
.pp-modal .btn.btn-secondary{background:#CBCBCB}
.pp-modal .ok{ cursor: pointer; color: #fff !important;}
.modal-body p{font-size:14px}
.close:focus{border:none;outline:none}
/*Line animation*/
.pos-relative{position:relative;}
.line-animation{position:absolute;top:43px;left:31px;width:80%;height:68px}
.line-animation img{width:100%; height: 40px;}
.s-line-animation{width:76%;left:13%;top:27px}
.line-animation:after{content:'';position:absolute;top:20px;right:4px;border:4px solid #006FFF;border-radius:100%;display:none}
.s-line-animation:after{top:19px;right:4px}
.s-line-animation{top:15px;right:0}
.table{width:100%;height:100%}
.auto-table-width td{
    white-space:normal;  /** added **/
}
.auto-table-width td:last-child{
    width:10%;
}
/*.office-table tr td{width:10%}
.office-table tr td:first-child{width:5%}*/
.status-icon-list span{margin:0 2px 5px}
.status-icon-list .st-icon{color:#cecece;border:1px solid #cecece;padding:4px;border-radius:5px}
.status-icon-list .st-icon.active{border:1px solid #6DE475;color:#6DE475}
#ProfileCard p{font-size:13px;color:#67708e}
#ProfileCard .card-content h2{margin:0 0 30px;font-weight:500;font-size:24px}
#ProfileCard .card-content h2 a{text-decoration:underline}
#ProfileCard .card-content p{position:relative;width:100%;display:block;margin:0 0 40px}
#ProfileCard .card-content p:after{content:'';position:absolute;border-bottom:3px solid #dee2e6;width:70px;left:0;bottom:-16px}
.append-delete-icon{background:#ffd9d8;color:#a74041;width:70%;height:38px;line-height:38px;text-align:center;cursor:pointer;}
/*.pos-relative{position:relative;}
.animation-border{position:absolute;top:35%;width:88%;height:5px;border:5px solid #000;left:12%;border-color:#000 transparent transparent transparent;border-radius:90%/100px 140px 0 0;}*/
/*snakbar*/
#snackbar {
  visibility: hidden;
  color:#000;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
  font-size: 17px;
  top: 30px;border-radius:5px
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.mobile-view{display:none !important}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top:0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
@media screen and (max-width:1920px) and (min-width:1600px){
  .pie-chart-box{margin:0 4% !important}
  .content-box canvas#lineChart{height:285px !important;width:80% !important;margin:0 !important}
  .carousel-inner{width:74% !important}
  .s-line-animation{top:-10px;width:85%;left:10%}
}
.navbar-brand{color:#4c5258 !important;font-weight:bold;font-size:18px}
.form-group h5{font-size:18px}
.form-group label{margin-bottom:3px}
.card-heading3{font-size:15px !important}
.panel-box h6{margin-top:10px}
.highcharts-credits{display:none;}
.form-child-text{font-size:16px;color:#000;}

@media screen and (max-width:640px) {
    .table thead th{font-size:12px}
    .chart-container-1 h6{margin:10px 0 0}
    /*dashboard*/
    .search-input{width:100%}
   /* .page-title{margin:0 0 15px}*/
    .child-container,.padleft20,.card-body{padding:0}
    .no-mobile-view,.line-animation{display:none !important}
    .dashboad-navbar{padding:0 10px;}
    .child-container{padding-left: 0}
    .top-right-navbar .dropdown-menu{min-height:180px;margin:2.7em 0;left:-13px}
    .top-right-navbar li .icon-bg{width:100%;margin:0;text-align:left;height:auto;}
    .notification .notdot{left:67px;top:8px}
    .top-right-navbar .dropdown-menu .dropdown-item{padding-top:0;}
    .mobile-view{display:block !important}
    body .dashboard-nav-right{float:right !important;width:119px;margin:6px 0 7px 0}
    .navbar-brand{padding:0 0 0 25px;display:block;font-size:14px;color:#4c5258;font-weight:500;}
    .dashboard-nav-right .top-right-navbar li{margin:0;float:right}
    .dashboard-nav-right .btn{margin:0}
    .side-navbar{left:-191px}
    .side-navbar:after{position:fixed;content:'';background:rgba(0,0,0,.3);width:100%;height:100%;left:0;display:none;z-index:-1}
    #check:checked ~ .side-navbar{left:0}
    #check:checked ~ .side-navbar:after{display:block;}
    .dash-navtoggle-bar{background:transparent;position:absolute;top:0;left:0;color:#006eff;font-size:16px}
    .dash-navtoggle-bar label{padding:7px 14px;margin:0}
    .active-number{margin:12px 0 0}
    .pie-chart-box{margin:0 10px 20px}
    .max-height{max-height:100%}
    .box-title{display:block}
    .box-title2{margin:10px 0 0}
    .regEmployees-chart{width:100%;height:100%}
    .regEmployees-chart h2{padding:26px 0 0}
    .color-tag span{font-size:11px !important;font-weight:600}
    .color-tag li{margin:50px 5px 0 0;padding-left:12px}
    .color-tag li:before{border-width:2px}
    .content-box,.carousel-item{max-height:100% !important}
    .no-padtop{padding-top:0}
    .table{width:100%;border-collapse:collapse;height:200px;}
    .table tr td:last-child{white-space:nowrap;}
    .link-btn{padding:0 9% 15px;margin:0 0 15px}
    .inline-list{float:left !important;width:100%}
    .inline-width-text{width:100%}
    .inline-list li.date{width:48.5%;margin:0 5px 0 0}
    .inline-list li:nth-child(3){margin:0 0 10px}
    .card-body .inline-list li:first-child{display:block;margin:10px 0 0}
    .btn.no-radius,.sm-full-width,.inline-list li.date input{width:100% !important}
    .sm-mg-top{margin:10px 0 0}
    .inline-list .upload-link{margin:25px 0 !important;width:100% !important}
    .inline-list .upload-link span{display:block;margin:10px 0 0;text-align:center;}
    .inline-list .btn-block,.upload-link a{width:100% !important;display:block;text-align:center;}
    .upload-link a{background-position:32% center}
    .help-text{margin:0}
    .table p.action-list{display:table-row;}
    .table p.action-list a:first-child{display:table-cell;white-space:nowrap;margin:0 5px 0 0}
    .attendance-icon{margin:0 10px 0}
    .auto-table-width td:last-child{width:30%}
    /*admin-dashboard*/
    .top-right-navbar .dropdown .btn-secondary{padding:0 4px;float:right;font-size:14px;width:130px;text-align:left;overflow-x:hidden;}
    .dropdown-toggle::after{float:right;margin:8px 5px 0}
    .top-right-navbar .dropdown .btn-secondary img{margin:0}
    .top-right-navbar .dropdown .btn-secondary img{height:22px;width:22px;margin:0 5px 0 0}
    /*.table p a:first-child{display:inline-block;}*/
   /* .list-right li,.download-icon{float:left !important}*/
   .bottom-border{width:100%}
   .page-title{margin-top:5px}
   .link-btn{margin:15px 0 15px}
   .download-icon{margin:0}
   .status-icon-list span{display:table-cell;padding:0 3px}
   .appendClass,.append-delete-icon{width:100% !important;margin:0 0 20px !important}
   .dashboard-form{padding-top:50px}
   .dashboard-form h5{font-size:18px;line-height:22px}
   .form-group{margin-bottom:0}
   
   .panel-box .card-body{padding-bottom: 0 !important;padding-top:0 !important}
   .label-check{opacity:1;pointer-events:auto;}
  }
  .rotate-mode{display:none}
  @media (max-width:992px) and (min-width:479px) and (orientation:landscape){
    .rotate-mode{display: flex; pointer-events: auto;}
  }
/*notification drop down*/
.top-right-navbar .notification-dropdown-menu .dropdown-menu{min-height:315px;width:350px;right:20px;min-width:auto;margin:0;overflow-y:scroll;overflow-x:hidden;}
.top-right-navbar .notification-dropdown-menu li{margin:0}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #17A2B8;

}
.top-right-navbar .notification-dropdown-menu li:first-child{background:#fff !important;color:#4B5B68 !important;width:100% !important;margin:0 !important;border-bottom:1px solid #e6e6e6;opacity:1;font-weight:500}
.notification-dropdown-menu .fa-plus{color:#4B5B68}

/*.top-right-navbar .notification-dropdown-menu .dropdown-menu::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.top-right-navbar .notification-dropdown-menu .dropdown-menu {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
}*/

.notification-dropdown-menu ul{
  top: 55px;
  right: 0px;
  left: unset;
  width: 460px;
  box-shadow: 0px 5px 7px -1px #c1c1c1;
  padding-bottom: 0px;
  padding: 0px;
}
.notification-dropdown-menu .dropdown-menu li:first-child:before{
  content: "";
  position: absolute;
  top: -21px;
  right: 120px;
  border:10px solid #343A40;
  border-color: transparent transparent #343A40 transparent;display:none
}
.noti-icon .fa-chart-line{font-size:22px;}
.notification-dropdown-menu li{float:left;width:100%;display:block;border-bottom:1px solid #e6e6e6;padding:10px 0;width:96%;margin:0 2% !important}
.notification-dropdown-menu li .noti-icon{float:left;width:26px;height:26px;margin-left:5px;margin-top:3px;color:#4B5B68}
.notification-dropdown-menu .noti-content{margin-left:43px;}
.notification-dropdown-menu .noti-content strong{display:block;width:100%;color:#4B5B68 !important}
.notification-dropdown-menu .noti-content .text{color:#67708E !important;}
.notification-dropdown-menu .noti-content .text-warning{color:#ACACAC !important;float:right;margin:0 15px 0 0;font-weight:600}
.notification-dropdown-menu .head{
  padding:5px 15px;
  border-radius: 3px 3px 0px 0px;
}
.notification-dropdown-menu .footer{
  padding:5px 15px;
  border-radius: 0px 0px 3px 3px; display:none
}
.notification-box{
  padding: 10px 0px 0; 
}
.bg-gray{
  background-color: #eee;
}

.highlight-star{color:red}

.export_report{
  width:112px !important;
} 
.top-margin{
  margin-top:50px !important;
}

.dashboard-title{
  line-height: 64px;
  font-weight: bold;
  font-size: 16px;
}
.emp-table{margin:10px 0 0;border-bottom:none !important }
.emp-table,.emp-table tr{border:1px solid #dedede;color:#212529;padding:10px;width:100%;}
.emp-table,.emp-table tr{border-left:none !important;border-right:none !important;border-top:none;}
.emp-table tr:last-child{border-bottom:none !important}
.emp-table th,.emp-table td{padding:10px 0;width:20%;padding:10px}

.regEmployees-chart{width:100%;height:100%}
.regEmployees-chart h2{padding:26px 0 0}
.dashboard-total-tag{
  width: 100%;
  clear: both;
  float: left;
}
.tag_container{
  display:flex;
  flex-wrap: wrap;
}
.tag_container>div{
  width: 50%;
}

.regEmployees-chart{position:relative;width:150px;height:150px;text-align:center;margin:12px 0;}
.regEmployees-chart canvas{position:absolute;top:0;left:0}
.regEmployees-chart h2{font-size:26px;font-weight:700;padding:42px 0;color:#0f6be6;line-height:28px}
.regEmployees-chart h2 span{font-size:12px;color:#c6c6c6;display:block;font-weight:normal;}

 tr:nth-of-type(odd) {background-color:rgba(0,0,0,.03);}
 tbody tr:nth-child(even) { 
  background-color: #f2f2f2 !important; 
} 

/*
* Css for occupancy 8-4-21
*/

ul.list_inline li{display: inline-block!important;text-align: center;margin-right:10px;font-size:14px;color:#67708e;vertical-align: middle;}
.list_inline .break{display: block;line-height:14px;}
.tab-list li{cursor:pointer;display:inline-block;width:80px;height:40px;text-align:16px;border:1px solid #ebebeb;border-radius:5px;text-align:center;margin-left:0px;line-height:36px;color:#67708e}
.tab-list li.active{background-color:rgb(75, 192, 192);color:#fff }
.none,.graph-tab{display:none}
.block{display:block;}
.device-status-list{font-size:16px}
.device-status-list li{display:block;margin-bottom:16px}
.device-status-list .bar{color:#fff;display:inline-block;margin-left:10px}
.device-status-list .bar-bg{background:#dedede;width:140px;}
.device-status-list .bar-status{text-align:center;}
.bar-status{color:#fff;}
.device-status-list .fas{margin-right:5px;color:#006eff}
.device-status-list  .bar-content{width:120px}
.bar-text{display:inline-block;}
.pie-chart-list .slider-icon{position:absolute;top:25%;font-size:26px}
.pie-chart-list .slider-icon.next-icon{right:0}
.pie-chart-list .fas{color:#006eff}
.device_status{margin:0 5px}
.form-control.home_white_bg{border:1px solid #dedede;border-radius:5px}
.home_box_table_scroll{height:245px;overflow-y:scroll;margin-bottom: 10px}
/* Hide scrollbar for Chrome, Safari and Opera */
.home_box_table_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.home_box_table_scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.name_of_zone{ margin-bottom: 0px !important;}
#current_occupancy{ line-height: 18px;}
.zone_popup textarea,.zone_popup select{
  border: 1px solid !important;
}
.border{
  border: 1px solid;
}
.occupancy_limit{
  display: inline-block;
  margin-top: 5px;
  color: #a6a6ae;
}
#current_occupancy{
  margin-top: 12px;
}
.zone_graph{
  padding: 10px 0px;
}
/* .zone_count{ margin-top: 5px;} */

.sanitisationbox{
  min-height: 401px;
}
.occupany-list .chart{
  padding: 0px !important;
  padding-top: 10px !important;
}
.occupany-list .chart .zone_count{
  margin-left: -8px;
}
.graph_title{
  text-align: center;
  margin-top: 5px !important;
  display: block !important;
} 
#main{
  margin-left: 190px;
}
.child-container{
  padding-left: 1px !important;
}

@media (max-width: 640px) {
   .top-right-navbar .notification-dropdown-menu .dropdown-menu{
      top: 85px;
      left: -180px;  
      width: 290px;
    } 
    /*.notification-dropdown-menu .dropdown-menu li:first-child:before{
      right: 40px;
    }*/
   /* .top-right-navbar .notification-dropdown-menu li:first-child{width:290px;top:123px}
    .nav{
      display: block;
    }*/
    .nav .nav-item,.nav .nav-item a{
      padding-left: 0px;
    }
    .message{
      font-size: 13px;
    }
    #main{
    margin-left:0;
  }
  form{
  padding-top:30px;
}
#watermark{left:35%;top:20%}

}
.margin-left{
  margin-left: -50px;
}