*{margin:0;padding:0;box-sizing: border-box}
@font-face {
    font-family: 'Segoe UI';
    src: local("Segoe UI"),
        local("Segoe"),
        url('font/segoeui.woff') format('woff'),
    	font-weight: normal;
    	font-style: normal;
}
@font-face {
    font-family: 'Segoe UI Bold';   
    src: local("Segoe Bold"),
        local("Segoe WP Bold"), 
        url('font/seguisb.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}
body{
  background-color:#f7f7ff !important;
  font-family: 'Segoe UI', sans-serif;color:#4c5258;font-weight:400;font-size:12px;width:100%;height:100%}
.inline li{display:inline-block;}
.center{text-align:center;}
.container{width:100%;margin:0 auto;height:100%;/*display:flex;*/}
.width-box{width:100%;margin-top:100px;}
.loginbg-content h1{font-size:26px;color:#fff;line-height:36px;font-weight:300;margin-left:10%}
.logo{position:relative;float:left}
.logo img{margin:0 10px 0 0;vertical-align:middle;}
.loginbg{position:fixed;width:60%;top:0;height:calc(100% - 15%);background:#006eff;border-bottom-right-radius:100px;}
.loginbg .blue-bg{width:100%;height:100%;}
.list{list-style:none;color:#fff;text-align:left;margin:35px 0 30px 10%}
.list li{display:block;margin:0 0 15px;}
.list li h2{font-size:13px;font-weight:300;line-height:13px}
.list li .fa{font-size:16px;margin:0 15px 0 0;vertical-align:middle;line-height:13px}
.instauration{clear:both;float:none;margin:0;padding:0}
.instauration h2{font-size:16px;line-height:20px;margin:0 0 10px}
.instauration .instauration-list{list-style:none;}
.instauration .instauration-list li{margin:0 0 10px; text-align: left; margin-left:33px;}
.heading_title{ margin-left: 33px !important;}
.login-content{width:100%;position:fixed;left:0;height:100%;float:left;}
.pad-login-content{padding-left:65%}
.login-header .navbar{background:#fff}
.navbar{text-align:right;border-bottom:2px solid #dfdfdf;padding:12px 0 12px 0}
.navbar li a.bg{background:transparent;border-radius:40px;display:block;line-height:12px;}
.navbar li .download{width:30px;height:30px;border-radius:100%;display:block;background:#006eff;padding:5px;}
.navbar li .download img{vertical-align:middle;width:16px;height:auto;}
.navbar li a{color:#333;text-decoration:none;display:block;font-size:15px;padding:4px 6px;font-weight:500;font-family: 'Raleway', sans-serif}
.navbar li:last-child{border-right:none;padding:0;}
.navbar li a.bg.active{color:#000;background:transparent;}
.login-text-content{margin:18% auto;text-align:left;}
.login-text-content h3{font-size:22px;line-height:26px;;font-weight:bold;margin:0 0 15px;}
.form-group{width:80%;margin:0 0 20px;clear:both;float:none;}
.form-group .input-field{width:350px;background:#f5f6f8;font-weight:300;margin:0 auto;border:1px solid #dfdfdf;padding:0 15px;height:46px;border-radius:2px;font-size:12px;outline:none;box-shadow:inset 0 0 1px 0 rgba(0,0,0,.5)}
/* .form-group .btn{width:140px;height:40px;border:none;color:#fff;background:#006eff} */
.footer-text p{margin:0 0 5px;color:#777}
.highlight-text{color:#000}
.footer-text p.note{margin:30px 0;font-weight:bold;}
.footer-text p a{text-decoration:none;color:#006eff;font-weight:500}
.footer-text p.note span.blue-text{font-weight:normal;color:#1C3C71}
.mobile-view{display:none}
.slider-container{margin:60px 0 0 0;width:100%;left:0;color:#fff;}
.swiper-slide{opacity:1}
/*.swiper-slide-active{opacity:1;background:rgba(255,255,255,.9);padding:15px 0;border-radius:10px}*/
.slider-container img{width:80%;margin:15px 10%;vertical-align:middle;opacity:.7}
/*.swiper-slide-active img{margin:0 10%;filter: grayscale(0);}*/
.slider-container p{font-size:14px;margin:0 0 25px;text-align:center;}
.forpass-text{position:relative;text-decoration:none;color:#006eff;font-weight:400;font-size:13px;padding-bottom:10px;margin-bottom:15px;display:block;}
.forpass-text:after{content:'';position:absolute;bottom:0;width:20px;left:0;border:1px solid #006eff}
.resposive{width:100%}
.graph-img{position:absolute;bottom:-14%;left:10%;width:70%}
.span-panel-data{display:inline-block;text-align:center;margin-right:4px}
.span-panel-data p{font-size:12px;line-height:14px;margin-bottom:0;}
.no-bottom-margin{margin-bottom: 0;}
.row .panel-box.zoom-card,.zoom-info{background:#eff6fe !important}
.row .panel-box.zoom-card{color:#5d778e;text-align:center;font-size:15px;padding:10px 10px;font-weight:500;line-height:18px;}
.zoom-info .bold-text{font-size:16px;color:#40658f;font-weight:500;}
.question-icon{margin:0 0 4px 40px;}
.question-icon .fa-question-circle{color:#006eff;font-size:15px;cursor: pointer;}
/*Popup*/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -130px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 81%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
@media screen and (max-width:640px) {
    .login-text-content h3{text-align:center;}
    .footer-text p.note{margin:0 0 0 20px}
   /* .logo{left:10px}*/
    .logo img{width:110px}
    .graph-img{width:80%;margin:0 10%;left:0;bottom:-17%}
    .home-footer{position:relative !important;margin:730px 0 5px !important;height:25px}
    .contact-page-footer{position:absolute !important;bottom:-140px !important;margin:0 0 5px !important;height:25px}
    .forgot-home-footer{bottom:0 !important}
    .width-box{margin:30px 0 0}
    .pad-login-content{padding-left:0}
    .login-content{position:absolute;width:100%;left:0;top:400px;text-align:center;}
    .loginbg{position:absolute;background-size:cover;width:100%;height:350px;border-bottom-right-radius:0;}
    .width-box h1{font-size:15px;line-height:26px;}
    .loginbg .layer{position:absolute;top:0;left:0;width:100%;height:380px;background: rgba(0,0,0,.5);display:none}
    .loginbg-content .list{margin:20px 0 30px 40px}
    .list img{width:40px;height:40px}
    .form-group{width:100%;}
    .form-group .input-field,.form-group .btn{width:100%}
    .login-content{height:auto;}
    .login-text-content{margin:20px 0 50px}
    .navbar{border:none;color:#fff;position:absolute;right:0;width:100%;z-index:1;top:0;padding:0}
    .navbar li a.active{color:#fff}
    .instauration .instauration-list li{margin:0 0 5px;line-height:18px}
    .mobile-view{display:block;}
    .no-mobie-view{display:none}
    .instauration{margin-top:-15px;margin-left: 7px;}
    .heading_title{ margin-left: 7px !important;}
    .slider-container p{margin:0 0 15px}
    .swiper-slide-active{padding:10px 0}
    .slider-container img{margin:10px 10%}
    .swiper-slide-active img{margin:0 10%}
    .instauration h2{margin:45px 0 0}
    /*new mobile css*/
    .mobile-header{background:#dfdfdf;width:100%;height:45px}
    .error_message{text-align:center;}
    .custome-header-signup .navbar{top:0;width:100%;left:0;right:0}
    .custome-header-signup .navbar img{width:100%;height:auto;margin:10px 0}
    .custome-header-signup .navbar li a{padding:10px 3px}
    .panel-box-width{width:992px !important;}
    .back-page{display:none;}
    .span-panel-data{margin-right:2px}
} 

.download{ text-align: center;}
.download a{ color:#fff; font-size: 15px;text-decoration:none;font-weight:600}
.download-btn{background:#FF5B5B;padding:7px 15px 10px;border-radius:100px}
.nav-link{ font-size: 14px;} 
.home-footer{position:fixed;bottom:10px;width:100%;text-align:center;z-index:10;height:20px}
.home-footer li{display:inline-block;padding:0 10px;border-right:1.5px solid #4A6AA2;line-height:12px}
.home-footer li a{text-decoration:none;color:#4A6AA2 !important}
.home-footer li:last-child{border-right:none;padding-right:0}
.rotate-mode{display:none}
.custome-header-signup .row{width:103% !important}
.dashboard-form{padding:0;}
@media (max-width:992px) and (min-width:479px) and (orientation:landscape){
    .rotate-mode{display: flex; pointer-events: auto;}
    .form-group{width:100%;}
}

.action{ width: 200px !important;}
.action.asset{width: 500px !important;}
.action .edit{ float: left; margin-right: 10px; margin-bottom: 8px;}
.add_new{
    line-height:28px !important;
    margin:0 !important;
    height:32px !important;
    font-size:14px !important;
    padding:0 !important;
    /* width:120px !important; */
    border-radius:3px !important;
    margin:0 0 0 8px !important;
}
.back{
    line-height:28px !important;
    margin:0 !important;
    height:32px !important;
    font-size:14px !important;
    padding:0 !important;
    width:120px !important;
    border-radius:3px !important;
    margin:0 0 0 8px !important;
}
label.error{ color:red !important;}
.print{ width: 85px !important; height: 30px !important; margin-top: -16px !important;}
/* .alert-message{ margin-left: 20px; margin-top: 5px;} */
.has-error input{
    border: 1px solid red !important;
}
.show label{ font-weight: bold;}
.edit label{ font-weight: bold; }
.edit .row div{ margin-bottom: 25px; }


.show .row{ margin-bottom: 10px;}
.show .row div{ margin-bottom: 25px;}
#map {
    height: 500px;
    width:100%;
  }



  /*
  @ Dashboad stats
  */  
  .inforide {
    box-shadow: 1px 2px 8px 0px #f1f1f1;
    background-color: white;
    border-radius: 8px;
    height: 125px;
  }
  
  .rideone img {
    width: 70%;
  }
  
  .ridetwo img {
    width: 60%;
  }
  
  .ridethree img {
    width: 50%;
  }
  
  .rideone {
    background-color: #6CC785;
    padding-top: 25px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .ridetwo {
    background-color: #9A75FE;
    padding-top: 30px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .ridethree {
    background-color: #4EBCE5;
    padding-top: 35px;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 125px;
    margin-left: 15px;
  }
  
  .fontsty {
    margin-right: -15px;
  }
  
  .fontsty h2{
    color: #6E6E6E;
    font-size: 22px;
    margin-top: 15px;
    text-align: right;
    margin-right: 30px;
  }
  
  .fontsty h4{
    color: #6E6E6E;
    font-size: 18px;
    margin-top: 20px;
    text-align: right;
    margin-right: 30px;
  }
  /*
  @ End dashboard stats
  */
  .text-white{ color:white;}
  .field_label{ text-transform: capitalize;}
  .delete{ display: inline !important;}
  .panel-default{ border-color:#ddd;}
  .panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-body{padding: 15px;}
label.label-permission{ margin-right: 20px;}
.my-account{
	min-width: 150px !important;
}

.map_label {
  background-color: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  /* border: 1px solid #999; */
  box-sizing: border-box;
  white-space: nowrap;
  color: #000;
  /* background-color: white; */
  /* border: 1px solid #58D444; */
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  padding: 2px;
  /* transform: translateX(-50%);  */
  /* transform: translateY(-355%); */
  /*  transform: translateY(-125%) !important;
   transform: translate(55%,-106%) !important;  */
  /* background-color: #58D400; */
  /* transform: translateY(-300%); */
  transform: translate(54%,-106%) !important; 
}
/* .paging nav{
  float: left;
} */
.per_page_option{
  float: left;
  width: 50px;
  height: 29px !important;
}
.table_select_all{
  margin-bottom: 0px !important;
}
.multiselect-container.dropdown-menu.show{
  height: 200px;
  overflow-y: scroll;
}
.google-map-search{
      width: 50%;
      position: relative !important;
      top: 13px !important;
      border:1px solid #000 !important;
}
form{
  padding-top:10px;
}

#map_image{
  background-image: url('../assets/img/rbs2.jpg');
  height: 630px;
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;


}
#marker{
  background-image: url('../assets/img/Sensor.svg');
  background-repeat: no-repeat;
  height: 43px;
  position: absolute;
  width: 32px;
  display: inline-block;
 
}


#map_container{
  float: left;
  width: 100%;
}
.multi_option{
  padding-top: 50px;
}

.multi_option .multi_option_btn{
  padding: 10px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}

.multi_option .add{
  background-color: #007bff;
}
.multi_option .remove{
  background-color: red;
}

tr:nth-child(even) {background-color: #f2f2f2;}
.last_update{
  text-align: center;
  margin-top: 10px !important;
}
.text-black{
  color: #000 !important;
  font-weight: bold;
}
.circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  position:absolute;
  display: inline-block;
  opacity: .6;
  color: #000;
  font-weight: bold;
  font-size: 20px;

}
.count{
  font-weight: bolder;
  font-size: 20px;
  color: #000;
}

.marker{
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  position: absolute;
  display: inline-block;
  background-image: radial-gradient(circle,red, #dac664, rgb(42, 221, 51));
  text-align: center;
  border-radius: 50%;
  opacity: .5;
  box-sizing: border-box;
  line-height: 100px;
}

.bg_red{
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  position: absolute;
  display: inline-block;
  background-color: red !important;
  background-image:none !important;
  text-align: center;
  border-radius: 50%;
  opacity: .5;
  box-sizing: border-box;
  line-height: 100px;
}

.default_bg{
  background-image: none !important;
  background-color: rgb(141, 221, 145) !important;
  opacity: .5;
}
.one{
  background-color: rgb(203, 223, 203);
  opacity: .8;
}
.viewlink{
margin-top: 8px;
display: inline-block;
font-weight: bold;
font-size: 15px;
}
.chart-container{

}

.panic_alert_section .box-title{
  color: #FFF;
}
.panic_alert_section #totalPanic{
  color: #FFF;
}

.camera_container{
  width: 150px;
  height: 150px;
  color: #fff;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  padding: 10px;
}
.camera-title{width: 100%;}
 .camera_box_circle{
      border-radius: 50%;
  background-color: deepskyblue;
  width: 100px;
  height: 100px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
    }
    @keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

.camera-title{
  float: left;
  clear: both;
}

.display_none,.tab_group{
  display: none;
}
/*
30-06-21
*/

.dashboard-form label{
  font-size: 16px;
  /* font-weight: bold; */
}
.dashboard-icon{
  color:#006eff;font-size:18px;
  /* margin:14px 0;
   */
}
.box-count{
  font-size: 26px !important;
    line-height: 30px !important;
    font-weight: 600 !important;
    /* color: #67708e !important; */
}
.card{
  box-shadow: 0 2px 6px 0 #dadafda6, 0 2px 6px 0 #ceceee8a;
  padding: 16px;
}
.radius-10{
  border-radius: 10px !important;
}


.panel-box{
  /* padding: 10px; */
  font-size: 12px !;
  font-weight: normal;
  margin-bottom: 20px;
  width: 100%;
  /* max-height: 450px;
  min-height: 184px; */
  /* border-radius:10px; */
  background:#fff !important;
}
.card-header{
  background-color: #fff !important;
  padding: 0px !important;
}
.card-body{
  padding: 0px !important;
}
.panel-box .card-header{
  /* color: #a6a6ae;
  font-size: 16px;
  font-weight: 600; */
  background-color: none !important;
}
.panel-box .card-body{
  background:#fff !important;
}
.chart{
  height: 200px !important;
}

/* 
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  width: 190px;
  background-color: #dac664;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 190px;
  background-color: green;
  padding-top: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */
.dashboad-navbar{background-color: #fff !important;}
.border-start{
  border-left:1px solid #dee2e6!important;
} 
.border-0{
  border: 0px;
}
.border-3{
  border-left:3px solid #dee2e6!important;
}
.border-info{
  border-color: #0dcaf0!important;
}
.border-success{
  border-color: #15ca20!important;
}
.border-danger{
  border-color: #fd3550!important;
}
.border-warning{
border-color: #ffc107!important;
}
.chart-container-1{
  height: 260px;
  color: #5f8de4;
}
.widgets-icons{
  width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
    font-size: 26px;
    border-radius: 10px;
}
.form-control,textarea{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4c5258;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control.error{
  border-color: #fd3550;
}

.label-check{opacity:1;pointer-events:none;}
.watermark{content:'';position:absolute;top:48%;left:46%;z-index:1;opacity:.5;color:#4c5258;font-size:26px;transform: rotate(-35deg);-webkit-transform: rotate(-35deg);

  /* Firefox */
  -moz-transform: rotate(-35deg);

  /* IE */
  -ms-transform: rotate(-35deg);

  /* Opera */
  -o-transform: rotate(-35deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
  .card-body canvas{position:relative;z-index:10}
  .back-page{ color:#fff !important; cursor: pointer;}

/**
Cluster dashboard
*/

.indicator.online {
  background: #28B62C;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-animation: pulse-animation 2s infinite linear;
}

@-webkit-keyframes pulse-animation {
0% { -webkit-transform: scale(1); }
25% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.2) }
  75% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(1); }
}

.indicator.offline {
  background: #FF4136;
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  
}
