*{margin:0;padding:0;box-sizing:border-box;}
html{position:relative;min-height:100%}
ul{margin:0;list-style:none}
a{display:block;text-decoration:none}
a:hover{text-decoration:none}
input:focus,.btn:focus{outline:none}
.error{color:#EC7571 !important}
.btn:hover{color:#fff}
.body{width:100%;min-height:100%;font-size:14px;line-height:24px;color:#333;font-family: 'Raleway', sans-serif;font-weight:400;overflow-x:hidden;}
.responsive{width:100%}
.none-display{display:none}
.w70{width:70%;height:auto;}
.w60{width:60%;height:auto;}
.w50{width:50%;height:auto;}
.w90{width:90%;height:auto;}
.w50-mg-both{margin:0 25%}
.w60-mg-both{margin:0 20%}
.w70-mg-both{margin:0 15%}
.w90-mg-both{margin:0 5%}
.w100{width:100%;height:auto;}
.pull-right{float:right;}
.pull-left{float:left}
.blue-color{color:#006fff}
.bg-grad-left-right{background:linear-gradient(#1accaf, #006fff);}
.bg-grad-top-bottom{background: linear-gradient(#1accaf, #006fff);}
.bg-grad-left-right{background: linear-gradient(to right, #1accaf, #339BED);}
.border-right{border-right:1px solid #fff;}
.white-color{color:#fff}
.blue-border-bottom{border-bottom:4px solid #006fff;width:150px;margin:20px auto 30px;}
.clear{content:'';display:table;clear:both;}
/*font*/
.font-300{font-weight:300}
.font-400{font-weight:400}
.font-500{font-weight:500}
.black-font,.font-900{font-weight:900}
.top-ul-li-font,.font-18{font-size:18px;line-height:26px}
.border-bottom{border-bottom:1px solid #efefef !important}
.font-60{font-size:60px;line-height:72px}
.font-40{font-size:40px;line-height:50px;}
.font-10{font-size:10px}
.font-12{font-size:12px}
.font-14{font-size:14px}
.font-16{font-size:16px;line-height:26px}
.h2-hightlight{color:#fffab2;font-size:26px;line-height:40px}
.h2-font,.font-24{font-size:24px;line-height:32px}
.h3-font,.font-20,.list-font{font-size:20px;line-height:26px}
.border-bottom-shadow{box-shadow:inset 0 -10px 10px -10px rgba(189,181,181,.5);width:100%;height:40px}
.header-center-content li{margin:0 10px 0 0}
.screen-60{width:60%;margin:0 20%}
.nobottom-mg{margin-bottom:0 !important}
/*mg*/
.mg-top50{margin-top:50px}
.content-box{padding:20px 0 0}
.mg-bottom50{margin-bottom:50px}
.mg-bottom20{margin-bottom:20px}
.mg-bottom120{margin-bottom:120px}
.mg-bottom30{margin-bottom:30px}
.list-inline li{list-style:none;display:inline-block;margin:0 -4px 0 0}
.section,.pad-top-bottom{padding:60px 0}
.feature-section{padding-bottom:130px}
.padboth30{padding:30px}
.nopad{padding:0}
.section h2{margin:0 0 30px}
.no-marg{margin:0 !important}
.rad-conner{border-radius:10px}
.greybg{background:#f8f8f8;}
.white-text{color:#fff}
/*alignment*/
.text-right{text-align:right;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.info-text li a{padding:0 15px;margin:0 0 25px}
/*header*/
.header{width:100%;display:block;margin-bottom:20px;padding:10px 0;position:relative;z-index:10}
.navigation li a{padding:6px 10px;color:#fff;font-size:15px;display:block;font-weight:500}
.black-font li a{color:#333 !important}
.navigation li.active a{color:red !important}
.header-grad{background:url("../img/shape.png") no-repeat top right;position:absolute;top:0;right:0;height:100%;width:100%;z-index:-1;background-size:70%}
.phone-img img{width:100%;height:auto;}
.content{clear:both;float:none;width:100%;height:100%}
.features-list .row{margin:0 0 30px}
.features-list .img-border{border:1px solid #fff;border-style: dashed;border-radius:10px;width:250px;height:250px;padding:17px 17px;text-align:center;margin:25px auto}
.features-list h2{margin-bottom:20px}
.features-list p{width:80%;margin:0 10%;}
.white-bg{background:#fff;}
.applink li{margin:0 10px 0 0}
.overlap{box-shadow:0 10px 10px -10px #696868,0 -10px 10px -10px #696868;padding:40px 0 5px;margin:-160px 0 0;border-radius:15px}
.should-use-section .list{-webkit-column-count:2;-moz-column-count: 2;column-count:2}
.should-use-section h3{margin-bottom:10px;text-transform:uppercase}
.should-use-section .list li{margin-bottom:20px;padding:0 0 10px 35px;background:url("../img/ic_check_circle.png") no-repeat top left;background-size:25px 25px}
.dashboard-feature .img-bg{background:linear-gradient(#1accaf, #006fff);border-radius:5px}
.bg-img{background:url("../img/request_demo.jpg") no-repeat top center;width:100%;height:100%;background-size:cover;display:block;}

.form{width:100%;display:block;}
.form .form-group .input-field{width:100%;padding:2.5% 4%;border-radius:8px;border:1px solid #cfcfcf;margin-bottom:5px;font-size:13px;font-weight:500}
.frm-btn{width:100%;text-align:center;background:#006fff;color:#fff;font-weight:500;padding-top:8px;padding-bottom:8px}

.dot{position:relative;display:block;width:100%;padding:10px 0}
.dot:after{content:'';top:20px;width:15px;height:15px;background:#fff;border-radius:100%;margin:0 -7.5px}
.dot:before{content:'';top:-38px;border-right:1px solid #333;border-right-style:dashed;height:56px;}
.dot.dot-left:after,.dot.dot-left:before{position:absolute;left:25%}
.dot.dot-right:after,.dot.dot-right:before{position:absolute;right:25%}

.after-border{position:relative;width:100%}
.after-border:after{content:'';position:absolute;top:-89px;border-right:1px solid #333;border-right-style:dashed;height:78px}
.after-border-left:after{left:40px}
.after-border-right:after{right:40px}
.before-border:before{content:'';border-bottom:1px solid #333;width:206px;top:-89px;border-bottom-style:dashed;}
.before-border-left:before{position:absolute;left:-166px}
.before-border-right:before{position:absolute;right:-166px}

/*footer*/
.footer{padding:40px 0 0;color:#fff;width:100%}
.footer-bg{background:#181818;font-size:12px;position: fixed;
    bottom: 0;
    width: 100%; }
.social-list li{width:35px;height:35px;background:#2a2a2a;border-radius:100%;text-align:center;line-height:35px;margin:0 5px}
.social-list li a{text-decoration:none;display:block;}
.ft-border-top{border-bottom:1px solid #fff;width:100%;margin-bottom:10px}
.footer-nav li a{font-size:10px;color:#fff;padding:0 10px}
.section-bg{margin:-20px 0 0;box-shadow:inset 0 10px 10px -10px rgba(189,181,181,.5);width:100%}
.login-section .input-field{background:#F5F5F5}
.sm-screen{display:none}
.box-shadow{box-shadow: 0 5px 5px 0 rgba(154,160,185,.05), 0 5px 30px 0 rgba(166,173,201,.22);webkit-box-shadow: 0 5px 5px 0 rgba(154,160,185,.05), 0 5px 30px 0 rgba(166,173,201,.22);border-radius:20px;padding:50px 0;background-color:#fff}
.cover{position:relative;background-repeat:no-repeat;background-position:top center;width:100%;background-size:cover;}
.content-box{padding:20px 15px;box-shadow:0 4px 10px -6px #696868,0 0 5px -5px #696868;margin-bottom:30px}
.should-bgimg .circle{position:absolute;right:15px;bottom:-60px}
.circle{border-radius:100%;width:120px;height:120px;background:#fff;text-align:center;vertical-align:middle;}
.circle img{margin:15px auto;}
.tag-color-list li{margin:0 10px 0 0;background:#fff;border:1px solid #333;border-style:dashed;padding:7px;cursor:pointer;}
.tag-sm-active{border:1px solid blue !important;border-style:dashed !important;}
.check-list li{position:relative;padding-left:30px;padding-bottom:15px;font-size:14px;font-weight:500;line-height:22px;vertical-align:middle;font-weight:400;}
.check-list li:before{content:'';position:absolute;background:url('../img/ic_check_circle.png') no-repeat top left;background-size:18px 18px;width:18px;height:18px;left:0;top:3px}
.no-border{border:none !important;}
.no-pad{padding:0 !important}
.tag-status-list img{margin-right:15px}

/*dote border*/
.page-header-banner{position:relative;padding:80px 0 20px;margin:-77px 0 0;}
.benefits-list{border:1px solid #fff;border-style:dashed;border-bottom:none;color:#fff;padding:40px 25px 0 55px;width:80%;margin:0 auto}
.dote-text-content{width:50%;float:left;margin:0 0 15px;font-size:14px;font-weight:500}
.dote-text-content.last{width:100%}
.dote-text-content .circle-dot{position:relative;}
.dote-text-content .circle-dot:before{content:'';position:absolute;width:16px;height:16px;background-color:#fff;border-radius:100%;top:4px;margin:0 0 0 -25px}
.pad-left30{padding-left:30px}
.bottom-link{text-align:center;margin-top:100px;font-weight:500;font-size:18px}
.action-btn{color:#fff;font-size:16px;font-weight:500;padding:14px 0;background:#006fff;width:250px;margin:20px auto;border-radius:10px;display:block;cursor:pointer;}
.action-btn:hover{color:#fff}
.before-image li{margin-bottom:12px}
.before-image li:before{content:'';position:absolute;background:url("../img/right_arrow.png") no-repeat top center;width:20px;height:16px;background-size:16px 15px;margin:2px 0 0 -25px}
/*.dot{margin:0 0 20px;position:relative;padding-left:50px;border:none;}
.dot:before{content:'';position:absolute;width:20px;height:20px;background-color:#fff;border-radius:100%;top:12px;margin:0 0 0 -40px}
.benefits-list .dote-text-content{margin:0 20px;float:left;width:45%}
.benefits-list .dote-text-content.last{width:100%}
.benefits-list .dote-text-content:last-child{text-align:center;}
.benefits-list:after{content:"";display:table;clear:both}*/
.aboutus-section .blue-border-bottom,.no-mgauto{margin-left:0;margin-right:0;margin-top:0}
.contact-info-text img{margin:0 0 15px}
.contact-info-text h5{margin:0 0 5px}
.error_message {
    color: red;
    margin-top: 10px;
    font-size:12px
}
/*myshield help*/
.help-content-font{font-family: 'Mulish', sans-serif;font-weight:400}
.help-content-font a{color:#333}
.step-list{margin:140px 0;}
.app-step-list{margin:50px 0 0}
.link-inline a{display:inline-block;margin:0 30px;color:#fff;font-size:20px}
.link-inline a img{margin:0 10px 0 0}
.lg-stepfont{font-size:80px;font-weight:500;margin:50px 0 0;font-weight:900}
.greytext{color:#ccc}
.sm-stepfont{margin:10px 0 50px;font-size:27px;font-weight:800}
.both-border{position:relative;margin:25px 0 30px}
.both-border:before{content:'';position:absolute;height:30px;top:11px;border-left:2px solid #006fff;margin-left:-80px}
.both-border:after{content:'';position:absolute;height:30px;top:14px;border-left:2px solid #006fff;margin-left:80px}
.img-shadow{box-shadow: 0 5px 5px 0 rgba(154,160,185,.05), 0 5px 30px 0 rgba(166,173,201,.22);webkit-box-shadow: 0 5px 5px 0 rgba(154,160,185,.05), 0 5px 30px 0 rgba(166,173,201,.22);border-radius:10px;}
/*Shadow with white box*/
.shadow-withbox,.shadow-withbox img{position:relative;}
.shadow-withbox img{z-index:10}

.shadow-withbox-before:before{content: '';position:absolute;top:-30px;left:0;width:200px;height:170px;z-index:-1;box-shadow: 0 5px 5px 0 rgba(154,160,185,.05), 0 5px 30px 0 rgba(166,173,201,.22);webkit-box-shadow: 0 5px 5px 0 rgba(154,160,185,.05), 0 5px 30px 0 rgba(166,173,201,.22);border-radius:10px;}
.shadow-withbox-after:after{content: '';position:absolute;bottom:40px;right:0;width:160px;height:120px;z-index:-1;box-shadow: 0 5px 5px 0 rgba(154,160,185,.05), 0 5px 30px 0 rgba(166,173,201,.22);webkit-box-shadow: 0 5px 5px 0 rgba(154,160,185,.05), 0 5px 30px 0 rgba(166,173,201,.22);border-radius:10px;}
.step-eight.shadow-withbox-after:after,.step-five.shadow-withbox-after:after{bottom:-50px;width:140px}

.app-step-list{position:relative;width:100%;z-index:10}
.trigle-bg-after:after{content:'';position:absolute;top:0;right:0;background:url("../img/triangle2.png") no-repeat top center;background-size:70%;width:145px;height:130px;z-index:-1;opacity:.5}
.trigle-bg-before:before{content:'';position:absolute;top:0;background:url("../img/triangle1.png") no-repeat top left;background-size:70%;width:277px;height:263px;left:-30px;top:-100px;opacity:.5}
.app-first-step:after{right:-90px;top:-50px}
.app-second-step.trigle-bg-after:after{top:-40px}
.app-fourth-step.trigle-bg-before:before{top:5%}
.app-fourth-step.trigle-bg-after:after{top:40%}
.app-third-step.trigle-bg-after:after{bottom:-90px;top:auto;right:-70px}

@media screen and (max-width:640px) {
	.dot:after,.dot:before,.after-border:after,.after-border:before,.lg-screen{display:none}
	.sm-100{width:100%;margin:0 0 20px;padding:0}
	.greybg{padding:30px 15px}
	.sm-bottom20,.info-text,.frm-section p,.feedback-section p{margin-bottom:20px}
	.page-header-banner .heading1{font-size:32px;line-height:40px}
	.sm-left{text-align:left !important;display:none}
	.tag-status-list .border-left,.tag-status-list .border-right{border:none !important;text-align:left !important}
	.sm-screen{display:block;}
	.section, .pad-top-bottom{padding:30px 0;text-align:center;}
	.section h2{font-size:20px;line-height:30px;width:100%;margin:0 0 10px !important;text-align:center !important;}
	.video-section h2,.blue-border-bottom{margin:20px auto 10px !important}
	.section p,.should-use-section{margin:0 !important;padding-bottom:0;text-align:center !important}
	.header-center-content p{font-size:15px;line-height:22px}
	/*.header{margin:0 0 10px}*/
	.phone-img{margin:20px 0 0}
	.phone-img img{width:70% !important;margin:0 15%}
	.dashboard-feature .blue-border-bottom{margin:0 auto 30px !important}
	.video-section img,.dashboard-feature img,.header .logo img{width:100%;height:auto;}
	.feedback-section{margin:-30px 0 0 !important}
	.features-list p{width:100%;margin:0}
	.login-section .white-bg{width:100%;padding:30px 0 !important}
	.features-list .row,.overlap{margin:0}
	.should-use-section ul,.login-section .white-bg{margin:30px 0 0}
	.should-use-section .list li{font-size:16px;background-size:20px 20px;padding:0 0 0 28px;vertical-align:middle;background-position:0 3px}
	.should-use-section .overlap{margin:0;padding:20px 0 0;padding-left:15px !important;padding-right:15px !important}
	.body{font-size:13px;color:#333}
	.navigation li a{font-size:13px;padding:1px 5px}
	.header-center-content h1{font-size:24px;line-height:36px;margin:0 0 10px}
	.header-center-content li{width:45%;display:inline-block;margin:0 5px}
	.header-center-content .info-text li{width:auto;margin:0}
	.header-center-content .info-text li a{margin:0 15px 15px 0;padding:0 15px 0 0}
	.header-center-content li a img{width:100%;height:auto;}
	.h2-hightlight{font-size:22px;line-height:32px}
	.header-center-content img{width:90%;height:auto}
	.section p br{display:none}
	.list{text-align:left !important;color:#333}
	.list li a{color:#333}
	/*.col,.col-5{width:90%;max-width:90%;flex:none}*/
	.features-list .img-border{width:150px;height:150px}
	.features-list .img-border img{width:90%;height:auto;}
	.footer-nav li a{padding:0 5px 10px}
	.footer p,.ft-border-top{width:100%;margin:15px 0 !important}
	.mg-bottom120{margin-bottom:30px}
	.dashboard-feature h3{width:100%;text-align:center;margin:15px 0 15px}
	.dashboard-feature p,.feedback-section p{width:100%}
	.client-name{margin:15px 0 0}
	/*.container{width:91%}*/
	.should-bgimg{width:100%}
	.should-bgimg .circle{width:80px;height:80px;bottom:-40px;right:10px}
	.circle img{width:60%;height:auto;}
	.tag-section .tag-img{padding-left:0 !important}
	.tag-color-list{text-align:center !important;}
	.dashboard-feature{padding-top:0 !important}
	.benefits-list{padding:40px 0 0 40px !important;width:85%}
	.circle-dot{padding-left:0 !important}
	.dote-text-content,.footer-nav{width:100%;text-align:left !important}
	.bottom-link{margin-top:30px}
	.sm-center{text-align:center !important;}
	.contactus-section p{width:90%;margin:0 5% 15px !important}
	.contact-info-text p,.contact-info-text a{width:60%;margin:0 20% 20px !important}
	.contact-form{margin:0 15px;padding:20px 15px !important}
	.form{width:92%;margin-left:4%;margin-right:4%}
}

@media screen and (max-width:1024px) and (min-width:769px){
	.dashboard-feature p{width:96%;}
	.before-border:before{width:176px}
	.before-border-left:before{left:-136px}
	.before-border-right:before{right:-136px}
}

@media screen and (min-width:468px) and (max-width:768px) {
	.dot.dot-right:after,.dot.dot-right:before{right:41%}
	.dashboard-feature p{width:96%;}
	.dot.dot-left:after, .dot.dot-left:before{left:41%}
	.overlap{padding-left:15px !important;padding-right:15px !important}
	.footer p{width:100%}
}

/*
	@ Validation css 
*/
label.error{
	display: none !important;
}
input.error{
	border:1px solid red !important; 
}
p.success{
	color:green;
}
p.error{
	color:red;
}
.ajax-loader{
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
	display: none;
}
.loader{
	width:25px;
	height:25px;
}
.logo{ width: 50px;}
.navbar-brand{
	line-height: 36px !important; margin-left: -33px;color:#343a40
}
.my-account{
	min-width: 150px !important;
}